@import 'reset.css';

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
    background-image:url(../images/night.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}
#mainContent{
    width:400px;
    height:650px;
    background-image:linear-gradient(135deg,rgba(83, 83, 198,0.5),rgba(216, 136, 236, 0.5));
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    /* margin-top:-250px; */
    transform: translateY(-50%);
    border-radius:5px;
}
#mainContent h1{
    width:400px;
    text-align:center;
    padding:25px 0 15px;
    color:rgb(216, 136, 236);
    border-bottom:1px dashed rgb(216, 136, 236);
}

#mainContent .user{
    width:400px;
    height:75px;
    margin-top: 15px;
    line-height:75px;
    text-align:center;
}
#mainContent .user i{
    font-size:25px;
    font-weight:bold;
    color:#c550e2;
    margin-left:25px;
}
#mainContent .user span{
    font-size:25px;
    color:#c550e2;
    margin-left: 30px;
}
#mainContent .user input{
    width:200px;
    height:25px;
    margin:25px 20px 0 0;
}
#mainContent .key{
    width:400px;
    height:75px;
    line-height:75px;
    text-align:center;
}
#mainContent .key span{
    font-size:25px;
    color:#c550e2;
    margin-left: 54px;
}
#mainContent .key i{
    font-size:25px;
    font-weight:bold;
    color:#c550e2;
    margin-left:25px;
}
#mainContent .key input{
    width: 200px;
    height: 25px;
    margin: 23px 20px 0 0;
}
#mainContent .phone{
    width:400px;
    height:75px;
    line-height:75px;
    text-align:center;
}
#mainContent .phone span{
    font-size:25px;
    color:#c550e2;
    margin-left: 54px;
}
#mainContent .phone i{
    font-size:25px;
    font-weight:bold;
    color:#c550e2;
    margin-left:25px;
}
#mainContent .phone input{
    width: 200px;
    height: 25px;
    margin: 23px 20px 0 0;
}

#mainContent .email{
    width:400px;
    height:75px;
    line-height:75px;
    text-align:center;
}
#mainContent .email span{
    font-size:25px;
    color:#c550e2;
    margin-left: 54px;
}
#mainContent .email i{
    font-size:25px;
    font-weight:bold;
    color:#c550e2;
    margin-left:25px;
}
#mainContent .email input{
    width: 200px;
    height: 25px;
    margin: 23px 20px 0 0;
}

#mainContent .name{
    width:400px;
    height:75px;
    line-height:75px;
    text-align:center;
}
#mainContent .name span{
    font-size:25px;
    color:#c550e2;
    margin-left: 54px;
}
#mainContent .name i{
    font-size:25px;
    font-weight:bold;
    color:#c550e2;
    margin-left:25px;
}
#mainContent .name input{
    width: 200px;
    height: 25px;
    margin: 23px 20px 0 0;
}

#mainContent .tip{
    display: inline-block;
    margin-top: 10px;
    width: 400px;
    color: #dd79dd;
    text-align: center;
    text-decoration: underline;
}
#mainContent .btn{
    width:400px;
    height:140px;
    line-height:140px;
    text-align:center;
}
#mainContent .btn button{
    font-size:25px;
    width:100px;
    height:100px;
    cursor:pointer;
    border-radius:50%;
    border:none;
    color:#5353c6;
    font-weight:bold;
    background-image:linear-gradient(135deg,#ffccff,#8a8fff);
    transition:0.3s;
}
#mainContent .btn button:hover{
    width:150px;
    border-radius:50px;
    background-image:linear-gradient(135deg,#ffccff,#8a8fff);
    
}
