@import "reset.css";

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {           
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 头部信息 */
#headMessage {
    position: fixed;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #b9fc75;
    z-index: 10;
}

#headMessage .title a {
    color: #336633;
}

#headMessage .user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#headMessage .user a {
    transition: all 0.2s;
}

#headMessage .user em {
    font-weight: bold;
}

/**/
#headMessage .list li em:hover,
#headMessage .list li:hover i,
#headMessage .list li:hover span,
#headMessage .user a:hover {
    color: #ca0c16;
    cursor: pointer;
}

#headMessage .list {
    margin-left: 130px;
}

#headMessage .list li {
    float: left;
    margin: 0 5px;
    font-size: 14px;
}

#headMessage .list li span {
    font-size: 13px;
    font-weight: bold;
}

/**/
#headMessage .list .item7 span {
    color: #f40;
}

#headMessage .list li em {
    transition: all 0.2s;
}

#headMessage .list .item6,
#headMessage .list .item7 {
    position: relative;
}

#headMessage .list .item6 .dropdown1 {
    position: absolute;
    display: none;
    left: -5px;
    top: 30px;
    width: 80px;
    background-color: #fff;
    /* border-radius: 5px; */
    /* z-index: -2;
    opacity: 0; */
    transition: all 0.2s;
}

#headMessage .list .item6 .dropdown1 li {
    margin: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

#headMessage .list .item6 .dropdown1:hover,
#headMessage .list .item6 em:hover+.dropdown1 {
    /* opacity: 1;
    z-index: 1; */
    display: block;
}

#headMessage .list .item7 .dropdown2 {
    position: absolute;
    display: none;
    margin: 0;
    left: -28px;
    top: 30px;
    width: 135px;
    text-align: center;
    background-color: #fff;
    /* border-radius: 5px; */
    /* opacity: 0;
    z-index: -2; */
    /* transition: all 0.2s; */
}

#headMessage .list .item7 .dropdown2 li {
    margin: 0;
    font-size: 16px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
#headMessage .list .item7 .dropdown2:hover,
#headMessage .list .item7 em:hover+.dropdown2 {
    /* opacity: 1;
    z-index: 1; */
    display: block;
}

#headMessage .list ol li:hover {
    background-color: #fff5ef;
    /* color: #cf16cf; */
    cursor: pointer;
}

/* 头部图片 */
#headPic {
    padding-top: 45px;
}

#headPic .picture {
    width: 100%;
    /* height: 100px; */
    background-image: url(../images/pinkBg.jpg);
    background-repeat: repeat;
    /* background-size: cover; */
}

#headPic .picture .welcome {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #099929;
}

#headPic .picture .welcome i {
    color: #099929;
}

#headPic .picture .welcome a:hover {
    color: #fff;
}

#headPic .picture .say {
    text-align: center;
    color: #099929;
    height: 90px;
    line-height: 90px;
    font-size: 35px;
    background-image: linear-gradient(90deg, #03a8f4, #a5206b, #f8e006, #03a8f4);
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: flow 10s linear infinite;
    animation-play-state: running;
}

#headPic .picture .say:hover {
    animation-play-state: paused;
}

@keyframes flow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/* 导航栏 */
#headPic .nav {
    /* #b410b4; */
    background-color: rgba(151, 233, 69, 0.6);
    /* background-image: linear-gradient(to right,#c41ec4,#e7a6e7); */
}

#headPic .nav h2 {
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: rgba(51, 102, 51, 0.6);
}

#headPic .nav ul {
    margin-left: 210px;
}

#headPic .nav ul li {
    position: relative;
    float: left;
    margin: 0 10px;
    padding: 0 5px;
    /* height: 30px; */
    line-height: 30px;
    font-size: 16px;
    /* transition: all 0.3s; */
}

#headPic .nav ul li a span {
    color: #fff;
    transition: all 0.3s;
}
#headPic .nav ul li a {
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
}

#headPic .nav ul li a:hover span,
#headPic .nav ul li a:hover {
    font-weight: bold;
    color: #333;
    background-color: #ccff99;
}

#headPic .nav ul .differ a::before,
#headPic .nav ul li a:hover::before {
    content: '';
    position: absolute;
    left: -19px;
    top: 3px;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    background-image: url(../images/circle.png);
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.6;
}

/* 右边栏 */
#firstScreen {
    /* perspective: 700px; */
}


#firstScreen .title {
    padding-bottom: 2px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid #336633;
}

#firstScreen .title span {
    font-size: 16px;
    color: #47b847;
}

#firstScreen .title i {
    margin: 4px 2px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: #2a2a32;
    cursor: pointer;
}

#firstScreen .title i:hover {
    color: #949498;
}

#firstScreen .picbox img {
    width: 344px;
    height: 398px;
    /* transform: translateZ(100px); */
    /* margin-top: 10px;
    margin-left: 10px; */
}

#firstScreen .picbox .img2 {
    width: 500px;
    height: 398px;
    transform: translateZ(150px);
    /* margin-top: 10px;
    margin-left: 10px; */
}

/* 图片容器 */
#firstScreen .picbox {
    position: relative;
    padding: 100px 0;
    perspective: 700px;
    background-color: rgba(250, 248, 250, 0.5);
}

#firstScreen .picbox .img1 {
    transform: rotateY(-45deg);
}

#firstScreen .picbox .img3 {
    transform: rotateY(45deg);
}


#firstScreen .picbox  button {
    position: absolute;
    display: none;
    top: 50%;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    transform: translate(0,-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 50%;
}

#firstScreen .picbox .lbtn {
    left: 0;
}

#firstScreen .picbox .rbtn {
    right: 0;
    font-weight: bold;
}

#firstScreen .picbox:hover button {
    display: block;
}

#firstScreen .picbox .circle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 2px 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    transform: translateX(-50%);
    
}

#firstScreen .picbox .circle li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

#firstScreen .picbox .circle .active {
    background-color: #97e945;
}
 


/* 底部 */
#bottomMessage {
    margin-top: 60px;
    padding-bottom: 20px;
    background-color: #2a2a32;
}

#bottomMessage .footer {
    /* height: 500px; */
}

#bottomMessage .footer .introduction {
    display: flex;
    height: 145px;
    justify-items: center;
    align-items: center;
    /* justify-content: space-between; */
}
#bottomMessage .footer .introduction li {
    flex: 1;
    margin: 0 5px;
}
#bottomMessage .footer .introduction .item1 {
    flex: 0 0 47%;
}

#bottomMessage .footer .introduction .item2 {
    flex: 0 0 12%;
}
#bottomMessage .footer .introduction li h4 {
    color: #fff;
}
#bottomMessage .footer .introduction li p {
    color: #949498;
}

#bottomMessage .wrapper {
    width: 100%;
    height: 10px;
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;

}

#bottomMessage .wrapper .move {
    width: 200%;
    height: 10px;
    animation: moving 10s linear  infinite;
    animation-play-state: running;
}

@keyframes moving {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

#bottomMessage .move li {
    float: left;
    width: 6.25%;
    height: 10px;
}

#bottomMessage .wrapper .move:hover {
    animation-play-state: paused; 
}


/* <!-- 固定功能区 --> */
#tool {
    position:fixed;
    right: 60px;
    bottom: 30px;
    background-color: #fff5ef;
    border-radius: 5px;
    overflow: hidden;
}

#tool p{
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s;
}

#tool p span {
    font-size: 25px;
    font-weight: bold;
    color: #336633;
    line-height: 50px;
}

#tool p i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 12px;
    opacity: 0;
    z-index: -1;
    box-sizing: border-box;
    white-space: nowrap;
}

#tool a{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #336633;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #b49797;
    box-sizing: border-box;
    transition: all 0.3s;
}

#tool p:hover {
    font-weight: bold;
    /* color: #800780; */
    background-color: #a9e86b;
    cursor: pointer;
}

#tool p:hover span{
    opacity: 0;
}
#tool p:hover i{
    opacity: 1;
    z-index: 2;
}
#tool a:hover {
    font-weight: bold;
    color: #336633;
    background-color: #a9e86b;
}
#tool p i:hover{
    color: #e95a62;
    text-decoration: underline;
}

/* 动画人物 */
#cartonMan {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#cartonMan img {
    position: absolute;
    top: -170px;
    left: 0;
    width: 90px;
    height: 170px;
    animation: pushing 9s ease-in infinite;
    animation-play-state: running;
    border-radius: 10px;
    /* transform: translate(-100%,-100%); */
}

@keyframes pushing {
    0% {
        transform: translateY(0) rotateY(0);
    }
    50% {
        transform: translateY(-470px) rotateY(720deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
    }
}

#cartonMan img:hover {
    animation-play-state: paused;
}


body {
    animation: bubble 20s linear infinite;
    background-image: url(../images/bubble1.png), 
                        url(../images/bubble2.png), 
                        url(../images/bubble3.png);
    background-color: rgb(250, 248, 250,0.8);
}
@keyframes bubble {
    0% {
        background-color: rgba(255, 248, 255,0.8);
        background-position: 0 0, 0 0, 0 0;
    }
    25% {
        background-color: rgba(255, 248, 255,0);
    }
    50% {
        background-color: rgba(255, 248, 255,0.5);
        background-position: -100px -500px,-100px -200px,-100px -150px
    }
    75% {
        background-color: rgba(255, 248, 255,0);
    }
    100% {
        background-color: rgba(255, 248, 255,0.8);
        background-position: 0 -1000px,-200px -400px,-100px -300px
    }
}